.pregunta-container body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.pregunta-container form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pregunta-container label {
    display: block;
    margin-bottom: 5px;
}

.pregunta-container input, .pregunta-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pregunta-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.pregunta-container a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.pregunta-container a:hover {
    text-decoration: underline;
}


.preguntas-container {
    text-align: center;
}
.preguntas-titulo {
    color: #333;
}


.pregunta {
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.enunciado {
    font-weight: bold;
}




